[submodule "wp"]
	path = wp
	url = git://github.com/WordPress/WordPress.git
[submodule "content/mu-plugins/wp-members"]
	path = content/mu-plugins/wp-members
	url = https://github.com/butlerblog/wp-members.git
